.basic-presentation-layout {

    padding:0 5% 20%;
    @include respond(tablet-landscape) {
        padding:0 5% 10%;
    }
}



.promotes333 {

    border:1px solid red;

    @include respond(tablet-landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    
    & .promote {
        padding:10%;
        display:grid;
        grid-template-rows: max-content max-content max-content;
        grid-gap:10%;
        text-align: center;

    
        &__title {
        color: #333;
        text-transform: capitalize;
        font-size: 2.2rem;
        font-weight: 700;
        }
    
        &__text {
            color:#898989;
        }
    
        &__link {
        color:dodgerblue;
        font-size:90%;
        cursor: pointer;
        }
    
    }

}
