.slick-next {

    border:3px solid black;
    background: black;
    right:10px;
    width:inherit;
    height:inherit;
    opacity:0;
    color:white;
}

.slick-dots {
    bottom: 25px;
}

.slick-dots li button::before {
    font-size: 1.5rem;
    opacity: .5;
    color: white;
}